<footer th:fragment="footer" class="bg-light mt-4 py-3">
  <div class="container d-flex justify-content-between">
    <div>
      <a th:href="@{/reservations}" class="btn btn-link">Бронирования</a>
      <a th:href="@{/rooms}" class="btn btn-link">Номера</a>
      <a th:href="@{/guests}" class="btn btn-link">Постояльцы</a>
      <a th:href="@{/complaints}" class="btn btn-link">Жалобы</a>
      <a th:href="@{/additional-services}" class="btn btn-link">Дополнительные услуги</a>
      <a th:href="@{/organizations}" class="btn btn-link">Организации</a>
    </div>
    <form method="post" th:action="@{/logout}">
      <input class="btn btn-outline-danger" type="submit" value="Выход"/>
    </form>
  </div>
</footer>